{# To reference all possible preconfig fields, values, and definitions
in Orchestrator, navigate to the Preconfigure Appliances tab:
Configuration->Overlays & Security->Discovery->Preconfiguration

Click the "New" button and you will be presented with a heavily
commented preconfiguration file with all possible fields for reference.

In each commented section on Orchestrator, note the last component of
``# Post-approval behavior:`` This describes what the resulting data
will be should there be existing values for a section already on an
appliance. The options are ``Merge`` or ``Replace``

All the variable names referenced below from the dictionary ``data``
are subjective as they only refer to the headers in the source CSV file.

The conditional statements below are only one way to approach crafting
your own template based on organizational standards.

If there are fields that are always used and/or values that are always
used they do not have to be wrapped in conditionals. Default values are
very useful to limit required source data.
#}

applianceInfo:
  {% if data['softwareVersion'] is defined and data['softwareVersion'] != "" %}
  softwareVersion: {{ data['softwareVersion'] }}
  {% endif %}
  {% if data['hostname'] is defined and data['hostname'] != "" %}
  hostname: {{ data['hostname'] }}
  {% endif %}
  group: {{ data['group'] | default("",false)}}
  site: {{ data['site'] | default("",false)}}
  networkRole: {{ data['networkRole'] | default("non-hub",true)}}
  region: {{ data['region'] | default("",false) }}
  location:
    address: {{ data['address'] | default("",false) }}
    address2: {{ data['address2'] | default("",false) }}
    city: {{ data['city'] | default("",false)  }}
    state: {{ data['state'] | default("",false)  }}
    zipCode: {{ data['zipCode'] | default("",false)  }}
    country: {{ data['country'] | default("",false)  }}
    latitude: {{ data['latitude'] | default("",false)  }}
    longitude: {{ data['longitude'] | default("",false)  }}
  contact:
    name: {{ data['name'] | default("",false) }}
    email: {{ data['email'] | default("",false) }}
    phoneNumber: {{ data['phoneNumber'] | default("",false) }}

{#
In this example, the CSV file has a column for templateGroups and
businessIntentOverlays

These values are comma separated lists within each cell as a string
e.g. "CriticalApps,DefaultOverlay"

and 

e.g. "Default Template Group,Default Hub Settings"

The logic below, sets that if the columns are present, to set a new list
object equal to the string split by commas

e.g. ["CriticalApps", "DefaultOverlay"]
e.g. ["Default Template Group", "Default Hub Settings"]

Then for each item, the entry is written for applicable template groups
and overlays
#}

{% if data['businessIntentOverlays'] is defined and data['businessIntentOverlays'] != "" %}
{% set overlay_list = data['businessIntentOverlays'].split(',') %}
businessIntentOverlays:
    overlays:
    {% for bio in overlay_list %}
        - {{ bio }}
    {% endfor %}
{% endif %}

{% if data['templateGroups'] is defined and data['templateGroups'] != "" %}
{% set tg_list = data['templateGroups'].split(',') %}
templateGroups:
  groups:
    {% for group in tg_list %}
        - {{ group }}
    {% endfor %}
{% endif %}

{#
# Link Aggregration
#}

linkAggregation:
{% if data['linkAggregation1'] is defined and data['linkAggregation1'] != "" %}
  linkAggregationGroups:
    - channelGroup: {{ data['linkAggregation1'] | default("",false) }}
      interfaces: {{ data['linkAggregation1Interfaces'] | default("",false) }}
      mtu: {{ data['lag1Mtu'] | default("",false) }}
      mode: {{ data['lag1Mode'] | default("",false) }}
      lacpRate: {{ data['lag1LacpRate'] | default("",false) }}
      lacpSystemPriority: {{ data['lag1LacpSysPri'] | default("",false) }}
      lacpComment: {{ data['lag1LacpComment'] | default("",false) }}
  isForceDelete: {{ data['lag1ForceDelete'] | default("true",false) }}
{% endif %}

{#
# LAN Bridge Groups
#}

bridgeGroups:
{% if data['bridgeGroup1'] is defined and data['bridgeGroup1'] != "" %}
  - bridgeGroup: {{ data['bridgeGroup1'] | default("",false) }}
    interfaces: {{ data['bridgeGroup1Interfaces'] | default("",false) }}
    mtu: {{ data['bridgeGroup1Mtu'] | default("",false) }}
    adminStatus: {{ data['bridgeGroup1Admin'] | default("",false) }}
    comment: {{ data['bridgeGroup1Comment'] | default("",false) }}
{% endif %}

{#
# VTI - Virtual Tunnel Interfaces
#}

{% if data['virtualTunnelInterface'] is defined and data['virtualTunnelInterface'] != "" %}
virtualTunnelInterface:
  vtis:
    - interfaceId: {{ data['virtualTunnelInterface'] | default("",false) }}
      ipAddressMask: {{ data['virtualTunnelInterfaceIp'] | default("",false) }}
      ipAddressAliasMask: {{ data['virtualTunnelInterfaceIpAlias'] | default("",false) }}
      adminStatus: {{ data['virtualTunnelInterfaceAdmin'] | default("",false) }}
      passthroughTunnel: {{ data['virtualTunnelInterfacePtTunnel'] | default("",false) }}
      interfaceType: {{ data['virtualTunnelInterfaceType'] | default("",false) }}
      interfaceLabel: {{ data['virtualTunnelInterfaceLabel'] | default("None",false) }}
      interfaceLabelAlias: {{ data['virtualTunnelInterfaceLabelAlias'] | default("",false) }}
      zone: {{ data['virtualTunnelInterfaceZone'] | default("",false) }}
      segment: {{ data['virtualTunnelInterfaceSegment'] | default("",false) }}
      autoDistribute: {{ data['virtualTunnelInterfaceAdvertise'] | default("",false) }}
      behindNat: {{ data['virtualTunnelInterfaceBehindNAT'] | default("",false) }}
{% endif %}

{#
The total inbound/outbound bandwidths can be calculated by summing the
individual WAN interface bandwidths, and currently supports a total of
2 WAN interfaces and 2 EdgeHA WAN interfaces. 

This logic would need to be augmented for additional or variable number
of WAN interfaces.

Each WAN interface bandwidth (inbound or outbound) is set to a variable
and then summed to find total. If a variable is not defined will default
to value of 0
#}

{% set wan1_outbound = data['wan_interface_1_max_outbound_bw'] | default(0,true) | int %}
{% set wan2_outbound = data['wan_interface_2_max_outbound_bw'] | default(0,true) | int %}
{% set hawan1_outbound = data['haPeerInterfaceInfo_interfaceLabel1_outboundbw'] | default(0,true) | int %}
{% set hawan2_outbound = data['haPeerInterfaceInfo_interfaceLabel2_outboundbw'] | default(0,true) | int %}
{% set wan_total_outbound = wan1_outbound + wan2_outbound + hawan1_outbound + hawan2_outbound %}
{% set wan1_inbound = data['wan_interface_1_max_inbound_bw'] | default(0,true) | int %}
{% set wan2_inbound = data['wan_interface_2_max_inbound_bw'] | default(0,true) | int %}
{% set hawan1_inbound = data['haPeerInterfaceInfo_interfaceLabel1_inboundbw'] | default(0,true) | int %}
{% set hawan2_inbound = data['haPeerInterfaceInfo_interfaceLabel2_inboundbw'] | default(0,true) | int %}
{% set wan_total_inbound = wan1_inbound + wan2_inbound + hawan1_inbound + hawan2_inbound  %}

deploymentInfo:
  deploymentMode: {{ data['deploymentMode'] | default("inline-router",true) }}
  totalOutboundBandwidth: {{ wan_total_outbound }}
  totalInboundBandwidth: {{ wan_total_inbound }}
  shapeInboundTraffic: {{ data['shapeInboundTraffic'] | default("true",true) }}
  passThroughShapedTraffic:
    {#
    If a separate outboundMaxBandwidth is not supplied, use the total
    WAN bandwidth specified by the interfaces
    #}
    outboundMaxBandwidth: {{ data['outboundMaxBandwidth'] | default(wan_total_outbound,true) }}
  deploymentInterfaces:
{% if data['lan_interface_1_name'] is defined and data['lan_interface_1_name'] != "" %}
    - interfaceName: {{ data['lan_interface_1_name'] }}
      interfaceType: lan
      interfaceComment: {{ data['lan_interface_1_desc'] | default("",false) }}
      ipAddressMask: {{ data['lan_interface_1_ipmask'] }}
    {% if data['lan_interface_1_nexthop'] is defined and data['lan_interface_1_nexthop'] != "" %}
      nextHop: {{ data['lan_interface_1_nexthop'] }}
    {% endif %}
    {% if data['lan_interface_1_segment'] is defined and data['lan_interface_1_segment'] != "" %}
      segment: {{ data['lan_interface_1_segment'] }}
    {% endif %}
    {% if data['lan_interface_1_zone'] is defined and data['lan_interface_1_zone'] != "" %}
      zone: {{ data['lan_interface_1_zone'] }}
    {% endif %}
{% endif %}

{% if data['lan_interface_2_name'] is defined and data['lan_interface_2_name'] != "" %}
    - interfaceName: {{ data['lan_interface_2_name'] }}
      interfaceType: lan
      interfaceComment: {{ data['lan_interface_2_desc'] | default("",false) }}
      ipAddressMask: {{ data['lan_interface_2_ipmask'] }}
    {% if data['lan_interface_2_nexthop'] is defined and data['lan_interface_2_nexthop'] != "" %}
      nextHop: {{ data['lan_interface_2_nexthop'] }}
    {% endif %}
    {% if data['lan_interface_2_segment'] is defined and data['lan_interface_2_segment'] != "" %}
      segment: {{ data['lan_interface_2_segment'] }}
    {% endif %}
    {% if data['lan_interface_2_zone'] is defined and data['lan_interface_2_zone'] != "" %}
      zone: {{ data['lan_interface_2_zone'] }}
    {% endif %}
{% endif %}

{#
Conditional logic can be used on the WAN interfaces to determine
firewall mode, nat detail, and possibly zone, by organizational standards

e.g. if label is INET1, INET2, or LTE, then set firewall mode to
statefulSNAT, nat to auto, and zone to "UNTRUSTED" etc. which helps
limit number of variables supplied by the user
#}

{% if data['wan_interface_1_name'] is defined and data['wan_interface_1_name'] != "" %}
    - interfaceName: {{ data['wan_interface_1_name'] }}
      interfaceType: wan
      interfaceComment: {{ data['wan_interface_1_desc'] | default("",false) }}
      interfaceLabel: {{ data['wan_interface_1_label'] | default("",false) }}
      outboundMaxBandwidth: {{ data['wan_interface_1_max_outbound_bw'] | default("0",false) }}
      inboundMaxBandwidth: {{ data['wan_interface_1_max_inbound_bw'] | default("0",false) }}
    {% if data['wan_interface_1_ipmask'] is defined and data['wan_interface_1_ipmask'] != "" %}
      ipAddressMask: {{ data['wan_interface_1_ipmask'] }}
      nextHop: {{ data['wan_interface_1_nexthop'] }}
    {% endif %}
      firewallMode: {{ data['wan_interface_1_firewall_mode'] | default("all",true) }}
      behindNat: {{ data['wan_interface_1_behind_nat'] | default("none",true) }}
      zone: {{ data['wan_interface_1_zone'] | default("",false) }}
{% endif %}

{% if data['wan_interface_2_name'] is defined and data['wan_interface_2_name'] != "" %}
    - interfaceName: {{ data['wan_interface_2_name'] }}
      interfaceType: wan
      interfaceComment: {{ data['wan_interface_2_desc'] | default("",false) }}
      interfaceLabel: {{ data['wan_interface_2_label'] | default("",false) }}
      outboundMaxBandwidth: {{ data['wan_interface_2_max_outbound_bw'] | default("0",false) }}
      inboundMaxBandwidth: {{ data['wan_interface_2_max_inbound_bw'] | default("0",false) }}
    {% if data['wan_interface_2_ipmask'] is defined and data['wan_interface_2_ipmask'] != "" %}
      ipAddressMask: {{ data['wan_interface_2_ipmask'] }}
      nextHop: {{ data['wan_interface_2_nexthop'] }}
    {% endif %}
      firewallMode: {{ data['wan_interface_2_firewall_mode'] | default("all",true) }}
      behindNat: {{ data['wan_interface_2_behind_nat'] | default("none",true) }}
      zone: {{ data['wan_interface_2_zone'] | default("",false) }}
{% endif %}

{% if data['haPeerHostname'] is defined and data['haPeerHostname'] != "" %}
  haConfig:
    haPeerSerial: {{ data['haPeerSerial'] }}
    haPeerHostname: {{ data['haPeerHostname'] }}
    haIpPool: {{ data['haIPPool'] | default("169.254.1.0/24",true) }}
    haSubnetMask: {{ data['haSubnetMask'] | default("30",true) }}
    haVlanStart: {{ data['haVlanStart'] | default("100",true) }}
    haInterface: {{ data['haInterface'] }}
    haInterfaceOrder: {{ data['haInterfaceOrder'] }}
    haPeerInterfaceInfo:
    - interfaceLabel: {{ data['haPeerInterfaceInfo_interfaceLabel1'] }}
      outbound: {{ data['haPeerInterfaceInfo_interfaceLabel1_outboundbw'] }}
      inbound: {{ data['haPeerInterfaceInfo_interfaceLabel1_inboundbw'] }}
      segment: {{ data['haPeerInterfaceInfo_interfaceLabel1_segment'] }}
      zone: {{ data['haPeerInterfaceInfo_interfaceLabel1_zone'] }}
    {% if data['haPeerInterfaceInfo_interfaceLabel2'] is defined and data['haPeerInterfaceInfo_interfaceLabel2'] != "" %}
    - interfaceLabel: {{ data['haPeerInterfaceInfo_interfaceLabel2'] }}
      outbound: {{ data['haPeerInterfaceInfo_interfaceLabel2_outboundbw'] }}
      inbound: {{ data['haPeerInterfaceInfo_interfaceLabel2_inboundbw'] }}
      segment: {{ data['haPeerInterfaceInfo_interfaceLabel2_segment'] }}
      zone: {{ data['haPeerInterfaceInfo_interfaceLabel2_zone'] }}
    {% endif %}
{% endif %}

{#
# The bandwidth licensing level could be determined via conditionals
based on aggregate WAN bandwidth crossing thresholds into the different
bandwidth tier licenses.
#}

ecLicensing:
  useDefaultAccount: {{ data['useDefaultAccount'] | default ("true", true) }}
  bandwidthLevel: {{ data['license_bandwidth'] }}
  boost: {{ data['license_boost'] | default ("0", true) }}

{#
# For each segment in the SD-WAN, the appliance needs the "Routes Page" 
configuration, this ensures that routes for that segment are advertised to the 
SD-WAN fabric upon configuration. This is controllable via a Template as well, 
but is availible directly via Preconfiguration for flexibility.
#}

segmentLocalRoutes:
  {% if data['segment1_segmentLocalRoutes_segment'] is defined and data['segment1_segmentLocalRoutes_segment'] != "" %}
  - segment: {{ data['segment1_segmentLocalRoutes_segment'] }}
    useSharedSubnetInfo: {{ data['segment1_segmentLocalRoutes_useSharedSubnetInfo'] | default ("true",true) }}
    advertiseLocalLanSubnets: {{ data['segment1_segmentLocalRoutes_advertiseLocalLanSubnets'] | default ("true",true) }}
    advertiseLocalWanSubnets: {{ data['segment1_segmentLocalRoutes_advertiseLocalWanSubnets'] | default ("false",true) }}
    localMetric: {{ data['segment1_segmentLocalRoutes_localMetric'] | default ("50",true) }}
    localCommunities: {{ data['segment1_segmentLocalRoutes_localCommunities'] | default ("",false) }}
    filterRoutesWithLocalASN: {{ data['segment1_segmentLocalRoutes_filterRoutesWithLocalASN'] | default ("true",true) }}
    redistToSDwanFabricRouteMap: {{ data['segment1_segmentLocalRoutes_redistToSDwanFabricRouteMap'] | default ("default_rtmap_to_subsh",true) }}
  {% endif %}
  {% if data['segment2_segmentLocalRoutes_segment'] is defined and data['segment2_segmentLocalRoutes_segment'] != "" %}
  - segment: {{ data['segment2_segmentLocalRoutes_segment'] }}
    useSharedSubnetInfo: {{ data['segment2_segmentLocalRoutes_useSharedSubnetInfo'] | default ("true",true) }}
    advertiseLocalLanSubnets: {{ data['segment2_segmentLocalRoutes_advertiseLocalLanSubnets'] | default ("true",true) }}
    advertiseLocalWanSubnets: {{ data['segment2_segmentLocalRoutes_advertiseLocalWanSubnets'] | default ("false",true) }}
    localMetric: {{ data['segment2_segmentLocalRoutes_localMetric'] | default ("50",true) }}
    localCommunities: {{ data['segment2_segmentLocalRoutes_localCommunities'] | default ("",false) }}
    filterRoutesWithLocalASN: {{ data['segment2_segmentLocalRoutes_filterRoutesWithLocalASN'] | default ("true",true) }}
    redistToSDwanFabricRouteMap: {{ data['segment2_segmentLocalRoutes_redistToSDwanFabricRouteMap'] | default ("default_rtmap_to_subsh",true) }}
  {% endif %}
 
{#
# BGP Configuration - Non-Segment Aware
#}

{% if data['bgp_asn'] is defined and data['bgp_asn'] != "" %}
bgpSystemConfig:
  enable: true
  asn: {{ data['bgp_asn'] }}
  routerId: {{ data['routerId'] }}
  enableGracefulRestart: false
  maxRestartTime: 120
  maxStalePathTime: 150
  redistToSilverPeak: true
  propagateAsPath: true
  redistOspfToBgp: false
  filterTag: 0

  {#
  Similar to the deployment interfaces, the below neighbor details
  could be expanded with additional variables to account for defining
  multiple bgp peers, or conditional logic to use different route maps
  based on hostname etc. as documented with the localRoutes section.
  #}

  neighbors:
    {% if data['bgp_peer1_ip'] is defined and data['bgp_peer1_ip'] != "" %}
    - peerIpAddress: {{ data['bgp_peer1_ip'] }}
      enableImports: true
      peerAsn: {{ data['bgp_peer1_asn'] }}
      peerType: {{ data['bgp_peer1_peer_type'] | default ("Branch",true)}}
      enableNeighbor: true
      nextHopSelf: false
      inboundRouteMap : {{ data['bgp_peer1_inboundRouteMap'] | default ("default_rtmap_bgp_inbound_br",true) }}
      outboundRouteMap : {{ data['bgp_peer1_outboundRouteMap'] | default ("default_rtmap_bgp_outbound_br",true) }}
      keepAlive: {{ data['bgp_peer1_keepAlive']  | default ("30",true)}}
      holdTime: {{ data['bgp_peer1_holdTime']  | default ("90",true)}}
      sourceIpInterface: {{ data['bgp_peer1_sourceIpInterface']  | default ("any",true)}}
      asPrependCount: {{ data['bgp_peer1_asPrependCount']  | default ("0",true)}}
      password:
    {% endif %}
{% endif %}

{#
# Loopback Configuration - Best practice would be to use Orchestrated loopbacks, 
but this is availible via preconfiguration for flexibility.
#}

{% if data['loopback_interfaceId'] is defined and data['loopback_interfaceId'] != "" %}
loopbackInterface:
  loopbacks:
    - interfaceId: {{ data['loopback_interfaceId'] }}
      adminStatus: Up
      ipAddressMask: {{ data['loopback_ipAddressMask'] }}
      interfaceLabel: {{ data['loopback_interfaceLabel'] }}
      zone: {{ data['loopback_zone'] }}
      segment: {{ data['loopback_segment'] }}
{% endif %}

{#
# VRRP Configuration
#}

{% if data['vrrp_group_1'] is defined and data['vrrp_group_1'] != "" %}
vrrp:
  vrrpEntries:
      - groupId:  {{ data['vrrp_group1'] }}
      interfaceName: {{ data['vrrp_group1_interface'] }}
      admin: {{ data['vrrp_group1_admin'] }}
      virtualIpAddress: {{ data['vrrp_group1_vip'] }}
      advertisementTimer: {{ data['vrrp_group1_advtime'] }}
      priority: {{ data['vrrp_group1_pri'] |  default ("128",false)  }}
      version: {{ data['vrrp_group1_ver'] }}
      preemption: {{ data['vrrp_group1_preempt']  | default ("true",true) }}
      authenticationString: {{ data['vrrp_group1_authkey'] }}
      description: {{ data['vrrp_group1_desc'] }}
      packetTrace: false
      holddownTimer: {{ data['vrrp_group1_holddown'] | default ("60",false)  }}
  {% if data['vrrp_group_2'] is defined and data['vrrp_group_2'] != "" %}
    - groupId: {{ data['vrrp_group2'] }}
      interfaceName: {{ data['vrrp_group2_interface'] }}
      admin: {{ data['vrrp_group2_admin'] }}
      virtualIpAddress: {{ data['vrrp_group2_vip'] }}
      advertisementTimer: {{ data['vrrp_group2_advtime'] }}
      priority: {{ data['vrrp_group1_pri'] | default ("128",false)  }}
      version: {{ data['vrrp_group2_ver'] }}
      preemption: {{ data['vrrp_group2_preempt'] }}
      description: {{ data['vrrp_group2_desc'] }}
      packetTrace: false
      holddownTimer: {{ data['vrrp_group2_holddown'] | default ("60",false)  }}
  {% endif %}
{% endif %}

{#
# OSPF Configuration - Segment/VRF Aware
#}

{% if data['ospf_segment'] is defined and data['ospf_segment'] != "" %}
segmentOspfConfig:
  - segment: {{ data['ospf_segment'] }}
    enable: true
    routerId: {{ data['ospf_routerId'] }}
    redistMapToOspf: {{ data['ospf_RouteMap'] | default ("default_rtmap_to_ospf",true) }}
    opaqueEnable: {{ data['ospf_opaqueEnable'] | default ("true",true) }}
    areas:
      - areaId: {{ data['ospf_areaId'] }}
        areaType: {{ data['ospf_areaType'] | default ("default_rtmap_to_ospf",true) }}
    interfaces:
    {% if data['ospf_interface1_name'] is defined and data['ospf_interface1_name'] != "" %}
      - interfaceName: {{ data['ospf_interface1_name'] }}
        areaId: {{ data['ospf_interface1_areaId'] | default (data['ospf_areaId'],true) }}
        cost: {{ data['ospf_interface1_cost'] | default ("1",true) }}
        priority: {{ data['ospf_interface1_priority'] | default ("1",true) }}
        adminStatus: {{ data['ospf_interface1_adminStatus'] | default ("Up",true) }}
        helloInterval: {{ data['ospf_interface1_helloInterval'] | default ("10",true) }}
        deadInterval: {{ data['ospf_interface1_deadInterval'] | default ("40",true) }}
        transmitDelay: {{ data['ospf_interface1_transmitDelay'] | default ("1",true) }}
        retransmitInterval: {{ data['ospf_interface1_retransmitInterval'] | default ("4",true) }}
        authentication: {{ data['ospf_interface1_authentication'] | default ("None",true) }}
    {% if data['ospf_interface1_authentication'] == "Text" %}
        authenticationKey: {{ data['ospf_interface1_authenticationKey'] }}
        md5Key:
        md5Password:
        comment: text authentication
    {% endif %}
    {% if data['ospf_interface1_authentication'] == "MD5" %}
        authenticationKey: 
        md5Key: {{ data['ospf_interface1_md5Key'] | default ("0",true) }}
        md5Password: {{ data['ospf_interface1_md5Password'] }}
        comment: MD5 authentication
    {% endif %}
    {% if data['ospf_interface1_authentication'] == "None" or "" %}
        authenticationKey: 
        md5Key:
        md5Password:
        comment: no authentication
    {% endif %}
  {% endif %}
{% endif %}

{#
# Management IP Configuration - Setting the Management IP of the appliance.
#}

{% if data['managementIp'] is defined and data['managementIp'] != "" %}
managementIp:
  ipAddress: {{ data['managementIp'] }}
{% endif %}

{#
# Combo Ports (SFP/RJ45 EC-10106/108 lan2/wan2)
#}

{% if data['interface1_interfaceName'] is defined and data['interface1_interfaceName'] != "" %}
interfaceConfig:
  interfaces:
  {% if data['interface1_interfaceName'] == "wan2" or data['interface1_interfaceName'] == "lan2" %}
    - interfaceName: {{ data['interface1_interfaceName'] }}
      interfaceSpeed: {{ data['interface1_interfaceSpeed'] | default ("auto",true) }}
      interfaceDuplex: {{ data['interface1_interfaceDuplex'] | default ("auto",true) }}
    {% if data['interface1_comboPortMode'] == "rj45" or data['interface1_comboPortMode'] == "0" or data['interface1_comboPortMode'] == "" %}
      comboPortMode: 0 
    {% endif %}
    {% if data['interface1_comboPortMode'] == "sfp" or data['interface1_comboPortMode'] == "3" %}
      comboPortMode: 3 
    {% endif %}
  {% else %}
    - interfaceName: {{ data['interface1_interfaceName'] }}
      interfaceSpeed: {{ data['interface1_interfaceSpeed'] | default ("auto",true) }}
      interfaceDuplex: {{ data['interface1_interfaceDuplex'] | default ("auto",true) }}
  {% endif %}
  {% if data['interface2_interfaceName'] == "wan2" or data['interface2_interfaceName'] == "lan2" %}
    - interfaceName: {{ data['interface2_interfaceName'] }}
      interfaceSpeed: {{ data['interface2_interfaceSpeed'] | default ("auto",true) }}
      interfaceDuplex: {{ data['interface2_interfaceDuplex'] | default ("auto",true) }}
    {% if data['interface2_comboPortMode'] == "rj45" or data['interface2_comboPortMode'] == "0" or data['interface2_comboPortMode'] == "" %}
      comboPortMode: 0 
    {% endif %}
    {% if data['interface2_comboPortMode'] == "sfp" or data['interface2_comboPortMode'] == "3" %}
      comboPortMode: 3 
    {% endif %}
  {% else %}
    - interfaceName: {{ data['interface2_interfaceName'] }}
      interfaceSpeed: {{ data['interface2_interfaceSpeed'] | default ("auto",true) }}
      interfaceDuplex: {{ data['interface2_interfaceDuplex'] | default ("auto",true) }}
  {% endif %}
  {% if data['interface3_interfaceName'] == "wan2" or data['interface3_interfaceName'] == "lan2" %}
    - interfaceName: {{ data['interface3_interfaceName'] }}
      interfaceSpeed: {{ data['interface3_interfaceSpeed'] | default ("auto",true) }}
      interfaceDuplex: {{ data['interface3_interfaceDuplex'] | default ("auto",true) }}
    {% if data['interface3_comboPortMode'] == "rj45" or data['interface3_comboPortMode'] == "0" or data['interface3_comboPortMode'] == "" %}
      comboPortMode: 0 
    {% endif %}
    {% if data['interface3_comboPortMode'] == "sfp" or data['interface3_comboPortMode'] == "3" %}
      comboPortMode: 3 
    {% endif %}
  {% else %}
    - interfaceName: {{ data['interface3_interfaceName'] }}
      interfaceSpeed: {{ data['interface3_interfaceSpeed'] | default ("auto",true) }}
      interfaceDuplex: {{ data['interface3_interfaceDuplex'] | default ("auto",true) }}
  {% endif %}
{% endif %}
